#portrait{
    opacity: 0.65;
    margin: 2em;
    height: 200px;
    border-radius: 60px;
    box-shadow: 5px 5px 15px black;
}
.nameBanner{
    text-align: center;
}
#menuspacer{
    width:10em;
}
#name{
    font-size: 5em;
    font-family: 'Sirin Stencil', cursive;
}
#pagetop{  
    margin-top: 3.5em;
    background-image: url('../assets/codeBG5.png');
    background-attachment: fixed;
    height: 43.5em;
    border-radius: 5px;
}
#profileContainer{
    text-align: center;
}
#about{
    height: 47em;
    margin-left: 0;
    margin-right: 0;
    background-image: url('../assets/ggb.jpg');
    background-size: cover;
}
#aboutBanner{
    color: #272b30;    
    margin-top: 15em;
    text-align: center;   
}
#aboutTitle{
    text-align: center;
    text-shadow: 2px 2px 6px grey;
    text-shadow: -4px, -4px, 8px, white;
    background-color: rgba(237, 236, 236, 0.11);
}
#aboutText{
    text-align: center;
    color:#272b30;
    text-shadow:1px 1px 1px black;
    text-shadow: 2px 2px 6px grey;
    text-shadow: -4px, -4px, 2px, white;
    font-weight: bolder;
    background-color: rgba(237, 236, 236, 0.31);
}
#projects{
    height: 47em;
    background-image: url('../assets/codeBG5.png');
    background-attachment: fixed;
}
#projectsTitle{
    text-align: center;
    margin-top: 80px;
}
.screenshot{
    opacity: 1;
    border-radius: 5px;
    width: 270px;
    height: 150px;
    text-align: center;
    margin-right: 15px;
}
.projectTitle{
    text-align: center;
}
#contact{
    height: 43.5em;
    margin-left: 0;
    margin-right: 0;
    background-image: url('../assets/tam.jpg');
    background-size: cover;
}
#contactIcons{
    margin-top: 20em;
    text-align: center;
}



