
h5{
    display: inline;
    font-weight: bolder;
    text-shadow: none;
}
#portrait{
/*    opacity: 0.95;*/
    margin: 2em;
    height: 200px;
    border-radius: 60px;
    box-shadow: 5px 5px 15px black;
}
.nameBanner{
    text-align: center;
}
#menuspacer{
    width:10em;
}
#name{
    font-size: 5em;
    font-family: 'Sirin Stencil', cursive;
    letter-spacing: 0.3em;
    word-spacing: 0.3em
}
#pagetop{  
    margin-top: 3.5em;
    background-image: url('../assets/codeBG7.png');
    background-attachment: fixed;
    height: 100vh;
    border-radius: 5px;
    z-index: 10;
}
#animLayer{
    background-image: url(../assets/hacker_animation.gif);
    background-size: cover;
    
    z-index: -10;
    padding: 0;
/*    opacity: 0.5*/
}
#profileContainer{
    text-align: center;
}
#about{
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    background-image: url('../assets/ggb1.jpg');
/*    background-attachment: fixed;*/
    background-size: cover;
}
#aboutBanner{
    color: #272b30;    
    margin-top: 15em;
    text-align: center;   
}
#aboutTitle{
    text-align: center;
    text-shadow: 2px 2px 6px grey;
    text-shadow: -4px, -4px, 8px, white;
    background-color: rgba(237, 236, 236, 0.48);
    border-radius: 4px;
}
#aboutText{
    text-align: center;
    color:#272b30;
/*
    text-shadow:1px 1px 1px black;
    text-shadow: 2px 2px 6px grey;
    text-shadow: -4px, -4px, 2px, white;
*/
    line-height: 1.75em;
    font-weight: bolder;
    background-color: rgba(237, 236, 236, 0.48);
    border-radius: 4px;
}
#projects{
    height: 100vh;
    background-image: url('../assets/codeBG5.png');
    background-attachment: fixed;
}
#projectsTitle{
    text-align: center;
    letter-spacing: .5em;
    margin-top: 60px;
}
.screenshot{
    opacity: 1;
    border-radius: 5px;
    width: 270px;
    height: 150px;
    text-align: center;
    margin-right: 15px;
}
.projectTitle{
    text-align: center;
}
#contact{
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    background-image: url('../assets/tam.jpg');
    background-size: cover;
}
#contactIcons{
    margin-top: 20em;
    text-align: center;
}
i .fa .fa-caret-down .fa-3x{
    padding: 0;
    margin-top: 0px;
    vertical-align: top;
    color: aqua;
}
#justifyMost{
/*    font-size: 0.9em*/
}
.learner{
    font-weight: bolder;
}
.highlight{
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(103, 229, 19, 0.17); 
    border-radius: 3px;
    font-weight: bolder;
}
#navcaret{
    padding: 0;
}


